.pio/
*~
.vscode
.ccls
**/.ccls-cache
**/data/mqtt.json
**/data/wifi.json
secrets*.ini
secrets*.yaml
.dir-locals.el
*.old
/scad/*/*.3mf
/KiCAD/*-backups/
/KiCAD/Gerber/
/KiCAD/Garden133/Garden133-backups/
/KiCAD/Garden133/Gerber/
*.kicad_sch-bak
*.3mf
